[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-api = "*"
flask-cors = "*"
scipy = "*"
SpeechRecognition = "*"
pydub = "*"

[dev-packages]
ddt = "*"

[requires]
python_version = "3.6"
