[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-api = "*"
flask-cors = "*"
scipy = "*"
pymongo = "*"
SpeechRecognition = "*"
pydub = "*"
python-speech-features = "*"
matplotlib = "*"
"h5py" = "*"
tensorflow = "*"

[dev-packages]
coverage = "*"
codecov = "*"

[requires]
python_version = "3.6"
