[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
numpy = "*"
python-speech-features = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.6"
